.idea
front/node_modules
front/target
front/public/js
front/public/out

front/.clj-kondo
front/.clj-kondo/*
front/.lsp
front/.cpcache


back/Library/target
back/MarineService/target
back/StarshipService/target

back/Eureka-Ribbon-Zuul/zuul-api-server/target
back/Eureka-Ribbon-Zuul/server-app/target
back/Eureka-Ribbon-Zuul/client-app/target
back/Eureka-Ribbon-Zuul/eureka-naming-server/target
back/first-service/target
helios
